# игнорирование файлов, находящиеся в подкаталоге 

tmp/

# игнорирование файлов, заканчивающиеся суффиксами _old, _backup;

*.*_old
*.*_backup

# игнорирование файлов Thumbs.db и .DS_Store

Thumbs.db
*.DS_Store